body, h1, h2, input {
    padding: 0;
    border: 0;
    margin: 0; 
    font-size: 100%;
    text-decoration: none;
}
body {
    background-color: bisque;
}
.header {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: darkkhaki;
    justify-content: space-between;

}

.real-finances {
    width: 250px;
    height: 50px;
    margin-left: 5px;



}
.page-links {
    width: 225px;
    height: 50px;
    margin-right: 5px;
}
#centered-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
    height: 100vh;
}
.container {

    width: 250px;
    height: 200px;
    margin-right: 5px;
    border: 1px solid blue;
    border-radius: 5%;
}
.dashboard {
    width: 250px;
    height: 30px;
    padding-left: 15px;

}
.text {
    text-align: center;

}
.input {
    text-align: center;

}
input[value="More Info"] {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 5%;
}
.Budget {
    width: 250px;
    height: 30px;
    padding-left: 15px;

}

.Checkbooks {
    width: 250px;
    height: 30px;
    padding-left: 15px;

}

.Money {
    width: 250px;
    height: 30px;
    padding-left: 15px;
}

